.container {
    max-width: 1770px;
    padding: 30px 70px;
    margin: 0 auto;
}

.footer {
    font-family: Lato;
    padding: 60px 0;
    background-color: $color-footer;
    color: $color-white;

    &__down {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        white-space: pre-line;
    }

    &__up {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 20px;
    }

    &__up-text {
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        }

    &__center {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 20px;
    }

    &__center-text {
        font-family: Lato;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 10px;
        }

    &__address {
        margin-bottom: 10px;
    }

    span {
        color: #3670C7;
        font-size: 30px;
        letter-spacing: 0.06em;
        font-weight: 700;
        line-height: 54px;
        background: none;
        border: none;
    }
}