@import "normalize.css";
@import "start.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Lato:wght@300&display=swap');

.header {
    font-family: Lato;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 50px;
    max-width: 1095px;  
}

.main {
    font-family: Lato;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 1095px;    
    margin-bottom: 150px;
}

.body {
padding: 50px 70px;  
}

.button-left {
    display: flex;
    border: none;
}

.p {
    line-height: 24px;
font-family: Lato;
font-size: 16px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1095px;  
}

.img {
margin-right: 15px;
}

.img-article {
    position: fixed;
    right: 20px;
    top: 50px;
}

.duster {
    top: 410px;
}