.profitable-h3 {
    font-family: Lato;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left; 
    color: #2D2D2D;
    margin-bottom: 50px;
}

.profitable {
    margin-bottom: 70px;
}

.grid-net {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(2, 1fr) ;
    gap: 30px;
}

.grid-item__two-grid {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-item__three-grid {
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
}

.grid-item__four-grid {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.grid-item__five-grid {
    grid-column: 4 / 5;
    grid-row: 1 / 2;  
}

.grid-item__six-grid {
    grid-column: 1 / 2;
    grid-row: 2 / 3; 
}

.grid-item__seven-grid {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.grid-item__eight-grid {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.grid-item__nine-grid {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.grid-item__two {
    position:relative;
    background: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%), url(picture/two.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 295px;
    border-radius: 20px;
    padding: 20px;
}

.grid-item__three {
        position:relative;
    background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(picture/three.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 295px;
    border-radius: 20px;
    padding: 20px;
}

.grid-item__four {
        position:relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%), url(picture/four.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 295px;
    border-radius: 20px;
    padding: 20px;
}

.grid-item__five {
        position:relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.46%, rgba(0, 0, 0, 0.2) 100%), url(picture/five.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 295px;
    border-radius: 20px;
    padding: 30px;
}

.grid-item__six {
        position:relative;
    background: linear-gradient(180.99deg, rgba(0, 0, 0, 0) 8.18%, rgba(0, 0, 0, 0.2) 99.15%), url(picture/six.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 295px;
    border-radius: 20px;
    padding: 20px;
}

.grid-item__seven {
        position:relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.28%, rgba(0, 0, 0, 0.2) 100%), url(picture/seven.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 295px;
    border-radius: 20px;
    padding: 30px;
}

.grid-item__eight {
        position:relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%), url(picture/eight.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 295px;
    border-radius: 20px;
    padding: 50px;
}

.grid-item__nine {
        position:relative;
    background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(picture/nine.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 295px;
    border-radius: 20px;
    padding: 20px;
}

.sale-net {
    position: absolute;
    bottom: 10px;
    display: grid;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: #FFBD13;
    font-weight: 700;
    font-size: 30px;
    place-items: center;
}

.price {
    display: flex;
}

.grid-item__text {
    margin-right: 15px;
    font-family: Lato;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #2D2D2D;
}

.grid-item__text-d {
    display: flex;
    align-items: end;
    text-decoration: line-through;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #2D2D2D; 
}

.grid-item__text-des {
    font-family: Lato;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #2D2D2D; 
}