.header {
    max-width: 1770px;
    padding: 30px 70px;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 190px 151px minmax(280px, 757px) minmax(200px, 354px);
    gap: 20px;
}

.header__logo {
    color: black;
    font-size: 30px;
    letter-spacing: 0.06em;
    font-weight: 700;
    line-height: 54px;
    background: none;
    border: none;
}

.header__logo_blue {
    color: #3670C7;
}

.header__menu {
    color: white;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    background-color: #3670C7;
    border-radius: 10px;
    max-width: 151px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header__form {
    max-width: 757px;
    height: 54px;
    position: relative;
}

.header__search {
    max-width: 757px;
    height: 54px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 10px 18px 40px;
    background: #EFEFEF;
    color: #8F8F8F;
    border-radius: 30px;
    border: none;
}

.header__button {
    color: white;
    width: 100%;
    background: #3670C7;
    border-radius: 30px;
    position: absolute;
    max-width: 101px;
    height: 54px;
    right: 0;
    border: none;
}

.header-list {
    display: grid;
    grid-template-columns: 73px 70px 82px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    max-width: 354px;
}

.header-list__link {
    height: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    color: #2D2D2D;
}

.header-list__text {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

@media (max-width: 1200px) {
    .header {
        grid-template-columns: minmax(165px, 190px) minmax(536px, 700px);
        grid-template-rows: repeat(2, 1fr);
    }

    .header__menu {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .header__form {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .header-list {
        margin-left: auto;
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .header {
        grid-template-columns: minmax(114px, 165px) minmax(280px, 540px);
    }

    .header__logo {
        font-size: 26px;
        height: 20px;
    }

    .header__menu {
        font-weight: 400;
        font-size: 16px;
        max-width: 115px;
        height: 42px;
        gap: 7px;
    }

    .header__form {
        max-width: 540px;
        height: 42px;
    }

    .header__search {
        max-width: 540px;
        height: 42px;
        font-size: 12px;
        padding: 11px 10px 15px 30px;
    }

    .header__button {
        max-width: 82px;
        height: 42px;
    }

    .header-list {
        display: grid;
        grid-template-columns: 52px 47px 62px;
    }
}

@media (max-width: 320px) {
    .header {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .header__logo {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        font-size: 18px;
    }

    .header-list {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .header__menu {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .header__form {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .header__menu {
        font-size: 12px;
        max-width: 79px;
        height: 30px;
        gap: 4px;
        padding: 11px 17px;
    }

    .header__form {
        max-width: 280px;
        height: 30px;
    }

    .header__search {
        max-width: 280px;
        height: 30px;
        font-size: 8px;
        padding: 9px 10px 11px 16px;
    }

    .header__button {
        max-width: 50px;
        height: 30px;
    }

    .header-list__text {
        display: none;
    }

    .header-list {
        grid-template-columns: 20px 25px 23px;
        gap: 32px;
    }

    .header-list__link {
        height: 25px;
    }

}