@charset 'utf-8';
@import "var";
@import "fonts";
@import "normalize";
@import "start";
@import "header";
@import "profitable";
@import "footer";

 .goods {
    margin-bottom: 70px;

    &__h3 {
        font-family: Lato;
        font-size: 50px;
        font-weight: 700;
        line-height: 65px;
        letter-spacing: 0em;
        text-align: left; 
        color: $color-profitable-text;
        margin-bottom: 50px;

        @media (max-width: 1024px) {
            font-size: 40px;
            line-height: 45px;
            margin-bottom: 30px;
        }
        @media (max-width: 320px) {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 10px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:repeat(2, 1fr) ;
        gap: 30px;
        @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:repeat(3, 1fr) ;
        gap: 20px;
    }
    @media (max-width: 320px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(4, 1fr) ;
        gap: 10px;
    }
    }

    &-goods {
        position: relative;
    }

    &-img {
        border-radius: 14px;
    }

    &-sale {
        background-color: #FFBD13;
        position: absolute;
        width: 88px;
        height: 88px;
        left: 20px;
        top: 150px;
        z-index: 2;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Lato;
        font-size: 30px;
        font-weight: 700;
        color: white;

        @media (max-width: 1024px) {
            width: 64px;
            height: 64px;
            font-size: 20px;
        }
        @media (max-width: 320px) {
            width: 40px;
            height: 40px;
            font-size: 16px;
        }
    }

    &-priceAll {
        display: flex;
    }

    &-priceNew {
        margin-right: 15px;
        font-family: Lato;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        color: #2D2D2D;
        @media (max-width: 1024px) {
            font-size: 20px;
            line-height: 20px;
        }
        @media (max-width: 320px) {
            font-size: 16px;
            font-weight: 400;
            line-height: 10px;
        }
    }

    &-priceOld {
        display: flex;
        align-items: end;
        text-decoration: line-through;
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: $color-profitable-text;
        @media (max-width: 1024px) {
            font-size: 20px;
            line-height: 20px;
        }
        @media (max-width: 320px) {
            font-size: 16px;
            font-weight: 400;
            line-height: 10px;
        }
    }

    &-description {
        font-family: Lato;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        color: $color-profitable-text;
        @media (max-width: 1024px) {
            font-size: 20px;
            line-height: 20px;
        }
        @media (max-width: 320px) {
            font-size: 16px;
            font-weight: 400;
            line-height: 10px;
        }
    }
 }