@import "var";
@import "fonts";
@import "normalize";
@import "start";
@import "header";
@import "main";
@import "profitable";
@import "footer";

html {
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0 auto;
    padding: 0;
}

button {
    background: none;
    border: none;
    color: inherit;
}

.container {
    max-width: 1770px;
    padding: 30px 70px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        padding: 30px 42px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 20px 20px;
    }
}